devices: (
{
    name: "Wireless Mouse MX Master 3";
    smartshift:
    {
        on: true;
        threshold: 10;
    };
    hiresscroll:
    {
        hires: false;
        invert: false;
        target: false;
    };
thumbwheel:
{
    divert: true
    invert: false

    left: {
        mode: "Axis"
        axis: "REL_HWHEEL"
        axis_multiplier: -5
    }

    right: {
        mode: "Axis"
        axis: "REL_HWHEEL"
        axis_multiplier: 5
    }

   # tap: {
   #     type: "Keypress"
   #     keys: ["KEY_A"]
   # }

    #touch: {
        #type: "Keypress";
        #keys: ["KEY_B"]
    #};
    #proxy: {
        #type: "Keypress"
        #keys: ["KEY_C"]
    #}
};
    dpi: 1000;

    buttons: (
        {
            cid: 0xc3;
            action =
            {
                type: "Gestures";
                gestures: (
                    {
                        direction: "Left";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_LEFTSHIFT", "KEY_TAB"];
                        };
                    },
                    {
                        direction: "Right";
                        mode: "OnRelease";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTMETA", "KEY_TAB"];
                        }
                    },

                    {
                        direction: "None";
                        mode: "NoPress";
                        action =
                        {
                            type: "Keypress";
                            keys: ["KEY_LEFTCTRL", "KEY_W"];
                        }
                    }
                );
            };
        },
        {
            cid: 0xc4;
            action =
            {
                type = "ToggleSmartshift";
            };
        },
        {
            cid: 0x56;
            action =
            {
                type :  "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_PAGEUP"];
            };
        },
        {
            cid: 0x53;
            action =
            {
                type :  "Keypress";
                keys: ["KEY_LEFTCTRL", "KEY_PAGEDOWN"];
            };
        }
    );
}
)
